/* Universe styling  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Fira Sans;
}

body {
    background-color: #f5f5f5;
}

/* header section start here  */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 39px 160px;
}

/* header icon  */
.header_icon {
    font-size: 32px;
}

.header_btn button {
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid rgb(0, 106, 80);
    color: rgb(0, 106, 80);
    font-weight: 700;
}

.header_btn button:hover {
    background: rgb(0, 106, 80);
    border: 1px solid black;
    color: white;
    cursor: pointer;
}

/* main part start here  */
.main_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 160px;
    background-color: rgb(198, 228, 214);
    padding: 80px;
    border-radius: 24px;
    gap: 2rem;
}

/* main information part here  */
.main_info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main_info1 {
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}

.main_info2 {
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
}

.main_btn button {
    padding: 1rem 2rem;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    color: white;
    font-size: bolder;
}

/* pillars_section start here  */
.pillars_section {
    display: flex;
    flex-direction: column;
    margin: 40px 160px;
}

.pillars_heading {
    font-size: 40px;
    font-weight: 700;
}

.pillars_content {
    display: flex;
    gap: 48px;
    margin: 40px 0px;
}

.pillars_card {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    padding: 25px;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.pillars_caption {
    font-size: 20px;
    font-weight: 700;
}

.pillars_des {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;

}

/* vision_future styling start here  */

.vision_future {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 40px 160px;
}

.vision_head {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.vision_content {
    display: flex;
    gap: 32px;
}

.vision_heading {
    font-size: 40px;
    font-weight: 700;
}

.vision_heading_des {
    color: rgba(14, 14, 14, 0.7);
}

.vision_card {
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.vision_status {
    font-size: 20px;
    font-weight: 700px;
}

.vision_btn button {
    border: none;
    background-color: rgb(84, 144, 245);
    padding: 1rem 2rem;
    border-radius: 8px;
    color: white;
}

.vision_card2 {
    background-color: rgb(198, 228, 214);
}

.vision_btn2 button {
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    color: white;
    background-color: rgb(9, 161, 92);
}

.vision_card3 {
    background-color: rgb(247, 235, 207);
}

.vision_btn3 button {
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    color: white;
    background-color: rgb(255, 194, 57);
}

/* vision section end here  */
/* next here  */

/* muhammad_president style start here  */
.muhammad_president {
    background-color: #ffffffff;
    margin: 40px 160px;
    background-image: url('assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 20px 25px;
    padding: 48px 20px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}